html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 13vw;
  font-family: helvetica, sans serif;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: -8px;
  text-shadow: 0 0 10px white;
}
form {
  opacity: 0;
  transition: 2s;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  &.show {
    opacity: 1;
  }
}
button {
  background-color: #e2e2e2;
  border: silver solid 1px;
  border-radius: 4px;
  padding: 0 1em;
  visibility: hidden;
}
textarea {
  border: 1px solid white;
  text-align: center;
  background-color: black;
  color: white;
  resize: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  height: 2.5rem;
  width: 45%;
  outline: none !important;
  &::placeholder {
    display: block;
    color: white;
    -webkit-animation: flickering 0.2s linear infinite;
    animation: flickering 0.2s linear infinite;
  }
}

/*remove p*/
.andonandonandon {
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
}

.andonandonandon-input {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.andonandonandon-input2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickering {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
