html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
}
::selection {
  color: white;
  background-color: black;
}
main {
  opacity: 0;
  transition: opacity 2s;
  cursor: auto;
  width: 110vw;
  left: -5vw;
  right: -5vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
.vaastcolson,
.ghost {
  font-size: 13vw;
  font-family: helvetica, sans serif;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 900;
  letter-spacing: -0.3vw;
  //text-shadow: 0 0 0px white;
}
@media screen and (min-width: 900px;) {
  h1,
  .vaastcolson,
  .ghost {
    font-size: 14vw;
    letter-spacing: -1vw;
  }
}
form {
  opacity: 1;
  transition: 1.5s;
  width: 100%;
  bottom: 2rem;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  &.show {
    opacity: 1;
  }
}
@media (hover: hover) {
  form {
    opacity: 0;
  }
}

.correct {
  display: block;
  color: green;
  font-size: 1.5rem;
  width: 90vw;
}
button {
  background-color: #e2e2e2;
  border: silver solid 1px;
  border-radius: 4px;
  padding: 0 1em;
  visibility: visible;
}
input {
  border: 1px solid white;
  text-align: center;
  background-color: black;
  color: white;
  resize: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  width: 90vw;
  outline: none !important;
}
@media screen and (min-width: 800px) {
  input {
    margin-top: 1rem;
    width: 60vw;
  }
}

/* toggle buttons */
.toggle {
  position: absolute;
  top: 1rem;
  right: 20vw;
}

/*info*/
.info {
  font-size: 0.7rem;
  z-index: 800;
  opacity: 1;
  transition: opacity 0.5s;
  background-color: black;
  color: white;
  //padding: 0em 0.5em;
  position: absolute;
  bottom: 1rem;
  left: calc(1rem + 5vw);
  box-shadow: 1px 1px 10px black;
  &.show {
    opacity: 0.98 !important;
  }
}
@media (hover: hover) {
  .info {
    opacity: 0;
  }
}

/*remove p*/
.andonandonandon {
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
}
.ghost {
  position: absolute;
  z-index: 300;
  height: 20vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
.vaastcolson {
  position: absolute;
  display: block;
  width: auto;
  /* Apply animation to this element */
  -webkit-animation: scrolling-vaast 20s linear;
  animation: scrolling-vaast 20s linear;
  transform: translateX(-210%);
  -webkit-transform: translateX(-210%);
}
.andonandonandon-input {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.andonandonandon-input2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-vaast {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-210%);
    -webkit-transform: translateX(-210%);
  }
}
@-webkit-keyframes scrolling-vaast {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-210%);
  }
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
